.App {
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.toggle-btn{
    border: none;
    border-radius: 12px;
    padding: 10px;
    background-color: #ece9e9;
    cursor: pointer;
}

.toggle-btn:hover{
    background-color: #dcdcdc
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(233, 233, 233, 0.5);
    border-radius: 12px;
    margin: 1.5em 0 0 1em;
}

.search-input{
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

.search-input:focus{
    outline: none;
}

.search-icon{
    font-size: 20px;
    cursor: pointer;
}