.App {
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.toggle-btn{
    border: none;
    border-radius: 12px;
    padding: 10px;
    background-color: #ece9e9;
    cursor: pointer;
}

.toggle-btn:hover{
    background-color: #dcdcdc
}
